@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap');

h1 {
    text-align: center;
    color:#2D9CDB;
    font-family:'Prompt', sans-serif;
}

input{
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555; 
    box-sizing: border-box;
    font-size: 15px;
    position: relative;
    width: 500px;
    height: 30px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.box #search{
    text-align: center;
}

.box-show{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}